project (_PACKAGENAME_-_LIBRARYNAME_-unittests)

file(GLOB 
    lib_LIBRARYNAME__UNITTESTS_SRCS 
    RELATIVE
    ${CMAKE_CURRENT_SOURCE_DIR}
    ${CMAKE_CURRENT_SOURCE_DIR}/*.cpp) 

foreach( testsrcfile ${lib_LIBRARYNAME__UNITTESTS_SRCS} )
    string(REPLACE ".cpp" "" testname ${testsrcfile} )
    add_cxx_test(${testname} ${testsrcfile} _LIBRARYNAME_)
endforeach()
